@font-face {
  font-family: myFont;
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0 !important;
}

body {
  direction: rtl;
  font-family: myFont;
}

.clear {
  clear: both;
}

.uppernav .navbar {
  padding: 0;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 999;
}
.uppernav .navbar .navbar-brand img {
  width: 59px;
  height: 97px;
}
.uppernav .navbar .navbar-nav {
  margin: auto;
}
.uppernav .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  margin-left: 20px;
}
.uppernav .navbar .active .nav-link {
  background-color: #000;
  border-radius: 10px;
}

.fixed-navbar {
  background-color: #f75a33 !important;
  transition: all 1s ease-in-out !important;
  padding-bottom: 20px !important;
}

.owl-nav {
  display: none;
}

.header {
  background-position: center;
  background-size: cover;
  height: 622px;
  position: relative;
  overflow: hidden;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.header .header-content {
  padding-top: 150px;
  position: relative;
  z-index: 999;
}
.header .header-content h5,
.header .header-content p {
  color: #fff;
}
.header .header-content h5 {
  font-size: 57px;
}
.header .header-content p {
  margin-top: 37px;
  font-size: 20px;
}

.section-header {
  font-size: 290px;
  color: #eef2fe;
  text-align: center;
}

.section-header-content {
  text-align: center;
  margin-top: -80px;
  position: relative;
}
.section-header-content::after {
  content: url("../images/section-header-line.png");
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.section-header-content h5 {
  font-size: 36px;
}
.section-header-content p {
  font-size: 20px;
  color: #8b8f94;
  margin-top: 5px;
}

.overview .row {
  margin-bottom: 30px;
}
.overview .overview-content {
  margin-top: 90px;
}
.overview .overview-content p {
  text-align: center;
  font-size: 20px;
  color: #8b8f94;
  margin-top: 5px;
}
.overview .overview-content .overview-content-par {
  margin-bottom: 51px;
}
.overview .overview-content .card .card-img img {
  width: auto;
  height: auto;
  max-width: 127px;
  max-height: 128px;
}
.overview .overview-content .card .card-title {
  font-size: 22px;
  text-align: right;
  margin-top: 22px;
  color: #000;
}
.overview .overview-content .card .card-text {
  font-size: 18px;
  text-align: right;
  margin-top: 22px;
  color: #b8b8b8;
}
.overview .overview-content .overview-img {
  margin-top: 66px;
}
.overview .overview-content .overview-img img {
  height: auto;
  max-height: 517px;
}

.beast-company {
  background-color: #123078;
  margin-top: 150px;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px;
}
.beast-company .section-header h5 {
  color: #fff;
  font-size: 35px;
}
.beast-company .par {
  color: #fff;
  margin-top: 45px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 30px;
}

.working {
  padding-bottom: 20px;
  padding-bottom: 90px;
}
.working .section-header {
  text-align: center;
  margin-bottom: 65px;
  position: relative;
}
.working .section-header h5 {
  font-size: 36px;
}
.working .section-header p {
  color: #8b8f94;
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}
.working .section-header-content {
  margin-top: -10px;
}
.working .card {
  background-color: transparent;
  border: 0;
  height: auto !important;
  border-radius: 0;
  margin-top: 45px;
}
.working .card .card-image {
  position: relative;
}
.working .card .card-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
}
.working .card .card-image .overlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.working .card .card-image .overlay a i {
  color: #fff;
  font-size: 20px;
}
.working .card .card-body {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: -5px;
  width: 96%;
}
.working .card img {
  height: 100%;
  width: 100%;
}
.working .card .card-footer {
  border: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  background-color: #fff;
  height: 57px;
  line-height: 57px;
  text-align: center;
  text-decoration: none;
}
.working .card .card-footer span {
  color: #000;
}
.working .card .card-footer i {
  width: 25px;
  height: 25px;
  background-color: #ff9408;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}
.working .card:hover .overlay {
  opacity: 1;
}
.working .btn-more {
  text-align: center;
  margin-top: 90px;
}
.working .btn-more .btn {
  border-radius: 34px;
  background-color: #ff4b36;
  font-size: 18px;
  color: #fff;
  width: 200px;
  padding: 0;
  line-height: 45px;
  height: 50px;
}

.contact-us {
  background-image: linear-gradient(to bottom, #f6f8fa, #fff, #fff);
  padding-top: 130px;
}
.contact-us .contact-content .contact-content-header {
  width: 70%;
  margin: auto;
  margin-bottom: 106px;
}
.contact-us .contact-content .contact-content-header h5 {
  font-weight: bold;
  font-size: 36px;
}
.contact-us .contact-content img {
  width: 100%;
  height: auto;
  max-height: 615px;
}
.contact-us .contact-form {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 30px;
  width: 80%;
}
.contact-us .contact-form .form-control {
  background-color: #eef1f5;
  height: 45px;
  border: 0;
}
.contact-us .contact-form .btn-send {
  margin-top: 34px;
}
.contact-us .contact-form .btn-send .btn {
  background-color: #ff4b36;
  color: #fff;
  width: 40%;
  padding: 12px;
  border-radius: 20px;
}

.contact-info {
  background-color: #3c414b;
  padding: 45px;
  color: #fff;
}
.contact-info .con {
  margin-top: 10px;
}

@media (max-width: 1025px) {
  .features {
    background-size: cover;
  }
}
@media (max-width: 800px) {
  .section-header {
    font-size: 120px !important;
  }

  .overview .overview-content .overview-img img {
    width: 100%;
  }

  .features .feture-img img {
    width: 100%;
  }

  .features-managment .flower-2 {
    display: none;
  }

  .features-managment .flower-1 {
    display: none;
  }

  .contact-info {
    padding: 13px;
  }

  .contact-us .contact-form {
    width: 100%;
  }

  .steps .steps-cards .card::before {
    display: none;
  }

  .steps .steps-cards .card {
    margin-top: 100px;
  }

  .steps .steps-cards .card .card-title {
    position: unset;
    margin-top: 60px;
    width: 100%;
    transform: none;
  }

  .download {
    margin-top: 50px;
  }
  .download a {
    display: inline-block;
    margin-top: 10px;
  }

  .header .content-header-img {
    display: none;
  }

  .header::before {
    display: none;
  }

  .overview .card {
    margin-bottom: 30px;
    text-align: center;
  }
  .overview .card .card-title, .overview .card .card-text {
    text-align: center !important;
  }
}
@media (max-width: 524px) {
  .header .header-content h5 {
    font-size: 32px;
  }

  .header .header-content p {
    font-size: 16px;
  }

  .live img {
    width: 100%;
  }

  .live .live-bf-img::before {
    display: none;
  }

  .contact-info {
    text-align: center;
  }
  .contact-info .con {
    margin-top: 20px;
  }

  .steps .steps-cards .card::before {
    display: none;
  }

  .steps .steps-cards .card {
    margin-top: 100px;
  }

  .steps .steps-cards .card .card-title {
    position: unset;
    margin-top: 60px;
    width: 100%;
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
